.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS Main */

body {
  background: #f4f4f4; /* Light Grey */
}

/* Custom */

.main-color-bg {
  background-color: #e74c3c !important; /* Light Red */
  border-color: #c0392b !important;
  color: #fff !important; /* White */
}

/* Dash-Box */

.dash-box {
  text-align: center;
}

img {
  width: 60px;
  height: 45px;
}

td,
th {
  text-align: center;
}

/* .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.select-round-label,
.select-form-control {
  padding: 5px;
}
