.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* CSS Main */

body {
  background: #f4f4f4; /* Light Grey */
}

/* Naviagation Bar */

.navbar {
  min-height: 33px !important;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-nav > li > a, .navbar-brand {
  padding-top: 6px !important;
  padding-bottom: 0 !important;
  height: 33px;
}

/* Generate Bootstrap Color */
/* https://work.smarchal.com/twbscolor/ */

.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
}

.navbar-default .navbar-brand {
  color: #ecf0f1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}

.navbar-default .navbar-text {
  color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}

.navbar-default .navbar-toggle {
  border-color: #c0392b;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}

.navbar-default .navbar-link {
  color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

/* Custom */

.main-color-bg {
  background-color: #e74c3c !important;
  border-color: #c0392b !important;
  color: #fff !important; /* White */
}

/* Header */

#header {
  background: #333333; /* Very Dark Grey */
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create {
  padding-top: 20px;
}

/* Breadcrumb */

.breadcrumb {
  background: #ccc; /* Grey */
  color: #333; /* Very Dark Grey */
}

.breadcrumb a {
  color: #333; /* Very Dark Grey */
}

/* Progress Bar */

.progress-bar {
  background: #333; /* Grey */ 
  color: #fff;
}

/* Dash-Box */

.dash-box {
  text-align: center;
}

/* Login */

#login {
  margin-top: 30px;
}

/* Footer */

#footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}

/* Media Queries */

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

img {
  width: 60px;
  height: 45px;
}

td, th {
  text-align: center;
}


.tipping-row {
  display: flex;
  height: 70px;
  width: 100%;
  background: #F4F4F4;
  border: 1px #ccc solid;
}

.squad {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 400;
}

.home-squad {
  flex: 1;
  order: 1;
}

  .home-radio {
    flex: 1;
    order: 1;
  }

  .home-name {
    flex: 1;
    order: 2;
  }

  .home-logo {
    flex: 1;
    order: 3;
  }

  .home-score {
    flex: 1;
    order: 4;
  }

.game-details {
  flex: 1;
  order: 2;
  padding: 10px;
}

  .game-date, .game-time, .game-venue {
    flex: 1;
    font-size: 12px;
    background: #f4f4f4;
  }

.away-squad {
  flex: 1;
  order: 3;
}

  .away-score {
    flex: 1;
    order: 1;
  }

  .away-logo {
    flex: 1;
    order: 2;
  }

  .away-name {
    flex: 1;
    order: 3;
  }

  .away-radio {
    flex: 1;
    order: 4;
  }







